.icoutline-mood {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.tablermood-empty1 {
  width: 100%;
  height: 24px;
  position: relative;
  overflow: hidden;
  letter-spacing: normal;
}
